# Dependencies
node_modules
.pnpm-store

# System
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
!.env.example

# Next.js
.next/
out/
build/

# Vercel
.vercel

# Supabase
supabase/.branches
supabase/.temp

# LangGraph API
.langgraph_api
